/* Общий стиль */
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: url("bg-large.webp");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 3000px;
  font-family: sans-serif;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.row {
  margin-top: 15px;
}

h3 {
  font-family: 'TTNormsPro';
  text-shadow: 
    -2px -2px 0 rgb(0, 0, 0),  /* Влево-вверх */
    2px -2px 0 rgb(0, 0, 0),   /* Вправо-вверх */
    -2px 2px 0 rgb(0, 0, 0),   /* Влево-вниз */
    2px 2px 0 rgb(0, 0, 0);    /* Вправо-вниз */
  text-align: center;
  margin-top: 15px;
}

@font-face {
    font-family: 'TTNormsPro';
    src: url('./Fonts/TTNormsPro-Medium.eot'); 
    src: url('./Fonts/TTNormsPro-Medium.woff2') format('woff2'),
         url('./Fonts/TTNormsPro-Medium.woff') format('woff'),
         url('./Fonts/TTNormsPro-Medium.ttf') format('truetype');
}

.only-mobile,
.only-tablet,
.only-desktop,
.only-4k {
  display: none; /* все специальные блоки скрыты по умолчанию */
}


/* 📱 Мобильные устройства */
@media (max-width: 600px) {
  body {
    background-image: url("./Images/bg-small.webp"); /* фон для мобилки */
  }

  .only-mobile {
    display: block; /* показываем только мобильный блок */
  }
}


/* 📟 Планшеты */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url("./Images/bg-medium.webp"); /* фон для планшета */
  }

  .only-tablet {
    display: block; /* показываем только планшетный блок */
  }
}

/* 🖥 Десктопы */
@media (min-width: 1025px) and (max-width: 1920px) {
  body {
    background-image: url("./Images/card-large.webp"); /* фон для пк */
  }
  .only-desktop {
    display: block; /* показываем только блок для ПК */
  }
}

/* 🖥 4K и широкоформатные */
@media (min-width: 1921px) {
  body {
    background-image: url("./Images/bg-xlarge.webp"); /* фон для 4K */
  }

  .only-4k {
    display: block; /* показываем только 4K-блок */
  }
}